// sidebar
$menuText:black;
$menuActiveText:#409EFF;
$subMenuActiveText:#60ccf0; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#fff;
$menuHover:#e6ebf3;

$subMenuBg:#fff;
$subMenuHover:#e6ebf3;

$sideBarWidth: 180px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
